<ion-header>
  <ion-toolbar>
    <ion-title>View Location - {{ currentLocation?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card *ngIf="currentLocation">
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>{{ currentLocation.name }}</ion-label>
        <ion-button fill="outline" slot="end" (click)="editLocation()">Edit</ion-button>
        <ion-button fill="outline" slot="end" (click)="return()">Return</ion-button>
      </ion-item>
    
      <ion-card-content>
        <div>
          <div>Description: {{ currentLocation.description }}</div>
          <div>City: {{ currentLocation.city }}</div>
          <div>State: {{ currentLocation.state }}</div>
          <div>Postal Code: {{ currentLocation.postalCode }}</div>
        </div>
      </ion-card-content>
    </ion-card>
</ion-content>