<ion-header>
  <ion-toolbar>
    <ion-title>Edit Location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="currentLocation">
        <form [formGroup]="locationForm" (ngSubmit)="saveLocation()">
          <ion-list>
            <ion-item>
              <ion-label  position="stacked">Name</ion-label>
              <ion-input type="text" name="locationName" formControlName="name"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label  position="stacked">Desciption</ion-label>
              <ion-input type="text" name="locationDesc" formControlName="description"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label  position="stacked">City</ion-label>
              <ion-input type="text" name="locationCity" formControlName="city"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label  position="stacked">State</ion-label>
              <ion-input type="text" name="locationState" formControlName="state"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label  position="stacked">Zip</ion-label>
              <ion-input type="text" name="locationPostal" formControlName="postalCode"></ion-input>
            </ion-item>
    
          </ion-list>
          <ion-button color="primary" type="submit">Save</ion-button>
          <ion-button color="warning" (click)="cancelEdit()">Cancel</ion-button>
        </form>
      </div>
</ion-content>
